body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.booster-statsMenu{
    display: flex;
    flex-direction: column;
    background-color: #B27C2F;
    color: aliceblue;
    width: 40%;
}

#playingField {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    background-image: url('../images/platforms/level1.svg');
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: url('../images/sword-cursor.png'), auto;
}

#dayNightBtn {
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    background-color: black;
    color: aliceblue;
    border: solid 1px black;
    font-size: 20px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* анимация ударов мечом для кликов по полю */
.slash {
    position: absolute;
    width: 70px;
    height: 4px;
    background: white;
    pointer-events: none;
    transform: rotate(-45deg);
    animation: slashAnim 0.25s ease-out forwards;
    box-shadow: 0 0 10px white;
}

@keyframes slashAnim {
    from {
        opacity: 1;
        transform: scaleX(0) rotate(-45deg);
    }

    to {
        opacity: 0;
        transform: scaleX(1.5) rotate(-45deg);
    }
}

/* анимация ударов мечом для кликов по полю */
.music-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.sound-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* меню загрузки */
#loadingScreen{
    position: fixed;
    inset: 0;

    background: orange;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    z-index: 9999;
}

.progress-container{
    width: 300px;
    height: 20px;

    background: #444;
    border-radius: 10px;

    overflow: hidden;
}

#progressBar{
    width: 0%;
    height: 100%;

    background: green;

    transition: width 0.2s;
}

#playBtn{
    color: aliceblue;
    background-color: orangered;
    border: solid 2px orangered;
    border-radius: 20px;
    width: 130px;
    font-size: 20px;

    display: none;
}

#languageSelect{
    display: none;
}